.container {
  display: flex;
  align-items: start;
}
.menuPanel {
  width: 100%;
  margin: auto;
  height: 150vh;
  color: white;
  transition: all 0.3s ease;
}

.contentWrapper {
  flex-basis: 100%;
}
