.wrapper {
  display: flex;
  align-items: flex-start;
}

.img {
  width: 40%;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .img {
    width: 100%;
    height: 300px !important;
  }
}
